{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if request.user == post.author or user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">- Editar un post -</a>
    <a class="btn btn-primary" href="{% url 'post_delete' pk=post.pk %}">- Borrar un post -</a>
{% endif %}
<div class="container">
	<div class="row" >
    	<p><i>{{ post.author }}</i></p>
    	<p>{{ post.title|upper }}</p>
    	<p>{{ post.text }}</p>
	</div>
</div>
<h1>Comentarios</h1>

{% include 'blog/snippets/comment.html' %} 
            
{% endblock %}    